<div class="extra-content">
    <div class="clear border"></div>

    <div class="box-sections">
        <img src="/public/img/statistics32.png" alt="Highest Quality" class="icon"/>

        <h2>Только живые офферы</h2> Работаем исключительно с живыми людьми. Мы не приемлим ботов. Все действия осуществляют реальные люди.
    </div>


    <div class="box-sections">
        <img src="/public/img/card-grey.png" alt="Clients" class="icon"/>

        <h2>Высокие скорости</h2>

        <p>Самые быстрые скорости рекламы, пиара и накрутки в социальных сетях</p>
    </div>


    <div class="box-sections last">
        <img src="/public/img/users-grey.png" alt="Support" class="icon"/>

        <h2>Поддержка</h2>

        <p>Полная гарантия на все наши услуги. Онлайн поддержка 24 часа в сутки, 7 дней в неделю.
            <a href="/contact-us/">Contact Us!</a>.</p>
    </div>
</div>

<div class="clear space"></div>
