<div class="menu-footer-container">
    <ul id="footer-nav" class="menu">
        <li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319">
            <a href="http://socprka.ru">Пиар Вконтакте, Youtube, Facebook</a></li>

        <li id="menu-item-937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-937">
            <a href="/sitemap.php">Sitemap</a></li>
        <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320">
            <a href="/contact.php">Наши контакты</a></li>
    </ul>
</div>
<p>Copyright © 2013. Все права защищены. | <strong>Агенство SocPr</strong> - пиар в социальных сетях!

</p>
