<div class="sidebar sidebar-big-size">
    <div id="nav_menu-2" class="widget-1 widget-first widget widget_nav_menu"><h3>Разделы</h3>
        <div class="menu-sidebar-left-container">
            <ul id="menu-sidebar-left" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="/">Главная</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Раскрутка канала и видео на Youtube" href="/raskrutka-kanala-video-na-youtube.php">Youtube</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Раскрутка групп вконтакте" href="/raskrutka-grupp-vkontakte.php">Вконтакте</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Раскрутка Twitter | Продвижение Твиттер" href="/raskrutka-prodvizhenie-twitter.php">Twitter</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Раскрутка Facebook | Продвижение Фейсбук " href="/raskrutka-prodvizhenie-facebook.php">Facebook</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Раскрутка и продвижение групп в одноклассниках" href="/raskrutka-prodvizhenie-grupp-v-odnoklassnikah.php">Одноклассники</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Раскрутка Инстаграм | Продвижение Instagram" href="/raskrutka-prodvizhenie-instagram.php">Instagram</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Наши контакты" href="/contact.php">Наши контакты</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="text-5" class="widget-2 widget-last widget widget_text">
        <div class="textwidget">
            <img src="/public/img/socpr.png" alt="100% Satisfaction Guarantee!" width="180" height="280"/>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <img src="/public/img/paypalImg.png" alt="Payment Getaway" width="170" height="136"/>
        </div>
    </div>
</div>
