<div id="header">

    <div class="inner">


        <div class="clear "></div>

        <!-- START LOGO -->
        <div id="logo">
            <a href="" title="eugensite &#8211; Get Social!">eugensite &#8211; Get Social!</a>
        </div>
        <!-- END LOGO -->

        <!-- START NAVIGATION -->
        {% include '/_includes/navigation.html.twig' %}
        <!-- END NAVIGATION -->

        <div class="clear space"></div>


        <!-- START SLIDER -->
        {% if s1 != 'border-header' %}
            {% include '/_includes/header/slider.html.twig' %}
        {% endif %}
        <!-- END SLIDER -->


    </div>


</div>
