<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/css/prettyPhoto.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/css/tipsy.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/css/custom.css" type="text/css" media="screen"/>

    <link rel='stylesheet' id='wpsc-theme-css-css' href='/public/css/wpsc-default.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wpsc-theme-css-compatibility-css' href='/public/css/compatibility.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='niov-slider-css' href='/public/css/nivo-slider.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='jquery-jCarousel-css' href='/public/css/jCarousel.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='contact-form-7-css' href='/public/css/styles.css' type='text/css' media='all'/>
    <script type='text/javascript' src='/public/js/jquery.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpsc_ajax = {"ajaxurl":"\/admin-ajax.php"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/public/js/index.js'></script>
    <script type='text/javascript' src='/public/js/jquery.livequery.js'></script>
    <script type='text/javascript' src='/public/js/user.js'></script>
    <script type='text/javascript' src='/public/js/jquery.cycle.all.min.js'></script>
    <script type='text/javascript' src='/public/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='/public/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='/public/js/jquery.tipsy.js'></script>
    <script type='text/javascript' src='/public/js/jquery.hrzAccordion.js'></script>
    <script type='text/javascript' src='/public/js/jquery.tweetable.js'></script>
    <script type='text/javascript' src='/public/js/jquery.jcarousel.min.js'></script>
    <script type='text/javascript' src='/public/js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='/public/js/swfobject.js'></script>
    <link rel='prev' title='Checkout' href='/checkout/'/>
    <link rel='next' title='Contact Us' href='/contact-us/'/>

    <!-- All in One SEO Pack 1.6.14.6 by Michael Torbert of Semper Fi Web Design[268,312] -->
    <meta name="description" content="{{ description }}"/>
    <meta name="keywords" content="{{ keywords }}"/>
    <!-- /all in one seo pack -->

    <style type='text/css'>
        #wpadminbar .quicklinks li#wp-admin-bar-clickystats {
            height: 28px
        }

        #wpadminbar .quicklinks li#wp-admin-bar-clickystats a {
            height: 28px;
            padding: 0
        }

        #wpadminbar .quicklinks li#wp-admin-bar-clickystats a img {
            padding: 4px 5px;
            height: 20px;
            width: 99px;
        }
    </style>
    <!--[if IE]>
    <link rel="stylesheet" href="/public/css/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="/public/css/ie7.css" type="text/css" media="screen"/><![endif]-->

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico"/>

</head>

<body class="home page page-id-8 page-template page-template-home-store-php no_js topbar-fixed font_delicious ">


<!-- START TOPBAR -->
<div id="topbar">

    <!-- top bar code (checkout & cart widget code) goes here -->

</div>
<!-- END TOPBAR -->

<!-- START HEADER -->
{% include '/_includes/header.html.twig' %}
<!-- END HEADER -->

<div class="clear {{ s1 }}"></div>


<!-- START CONTENT -->
<div id="content">

<div class="inner wpsc layout-sidebar-left post-8">


<div class="clear space"></div>

<!-- START HENTRY -->
<div class="hentry">
{% block content %}
{% endblock %}
</div>
<!-- END HENTRY -->

<!-- START SIDEBAR -->


<!-- START SIDEBAR -->
{% include '/_includes/sidebar.html.twig' %}
<!-- END SIDEBAR -->


<!-- END SIDEBAR -->

<div class="clear "></div>

<!-- START EXTRA CONTENT -->

{#{% include '/_includes/extra.html.twig' %}#}

<!-- END EXTRA CONTENT -->

<div class="clear "></div>

</div>

<div class="clear space"></div>
</div>
<!-- END CONTENT -->

<div id="footer-centered">

    <div class="inner">

        <!-- START NAVIGATION -->
        {% include '/_includes/footer.html.twig' %}
        <!-- END NAVIGATION -->

    </div>

</div>
<script type='text/javascript'>
    /* <![CDATA[ */
    var objectL10n = {"wait":"wait..."};
    /* ]]> */
</script>
<script type='text/javascript' src='/public/js/jquery.ui.core.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.ui.widget.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.ui.tabs.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var objectL10n = {"wait":"wait...", "emailerror":"The field name and email are required", "requireerror":"This field is required"};
    /* ]]> */
</script>
<script type='text/javascript' src='/public/js/jquery.custom.js'></script>

</body>

</html>