{% set title = 'Контакты агенства SocPR' %}
{% set keywords = 'наши контакты, почта, телефон, email, icq, skype' %}
{% set description = 'Контакты агенства SocPR' %}
{% set a3 = 'current-menu-item' %}
{% set s1 = 'border-header' %}
{% extends 'layout/base.html.twig' %}
{% block content %}
    <!--suppress ALL -->
    <h1>Наши контакты</h1>
    <p>Мы работаем 24 часа в сутки, 7 дней в неделю. Вы можете задать свои вопросы в он-лайн чате внизу
        страницы или же связаться с нами по следующим контактам:</p>
    <p> <strong>Сайт:</strong> socprka.ru</p>
    <p> <strong>Email:</strong> socprka@gmail.com</p>
    <p> <strong>Skype:</strong> socrpka</p>
    <p> <strong>ICQ:</strong> 458-858-959</p>
    <p> <strong>Телефон:</strong> +79090685454</p>


{% endblock %}