{% set title = 'Пиар групп вконтакте │Пиар Youtube, Facebook, Twitter │ Агенство SocPR' %}
{% set keywords = 'пиар, PR, группа, вконтакте, Youtube, Facebook, Twitter, агенство, SocPR, социальная, сеть, услуга' %}
{% set description = 'Агенство SocPR предлагает услуги пиара групп вконтакте и facebook, каналов в Youtube, страниц Twitter. Пиар в социальных сетях под ключ.' %}
{% set a0 = 'current-menu-item' %}
{% extends 'layout/base.html.twig' %}
{% block content %}
    <h3>Услуги пиара в социальных сетях Вконтакте, Youtube, Facebook и Twitter </h3>
    <p>Пиар в социальных сетях - это комплекс рекламных мер, направленных на привлечение аудитории в
        сообщество / группу / страницу. Позволяет продвигать новые продукты, товары и бренды. Увеличить
        популярность и узнаваемость частных персон.</p>
    <p>Агенство SocPR - ведущая студия, предлагающая услуги пиара в самых популярных социальных сетях России и
    мира: Вконтакте, Youtube, Facebook, Twitter, Одноклассники, Instagram.</p>

    <p>Мы предлагаем следующие услуги пиара в социальных сетях:</p>
    <ul class="short arrow">
        <li>Комплексное продвижение канала и <a href="/raskrutka-kanala-video-na-youtube.php">раскрутка видео на Youtube</a></li>
        <li>Безопасная <a href="/nakrutka-prosmotrov-na-youtube.php">накрутка просмотров на Youtube</a> "белыми" методами</li>
        <li>Увеличение и <a href="/nakrutka-podpischikov-youtube.php">накрутка подписчиков Youtube</a>, живые офферы</li>
        <li><a href="/raskrutka-grupp-vkontakte.php">Раскрутка групп вконтакте</a> под ключ</li>
        <li><a href="/nakrutka-podpischikov-vkontakte.php">Накрутка подписчиков вконтакте</a>, живые офферы, от 1000 шт.</li>
        <li><a href="/nakrutka-druzei-vkontakte.php">Накрутка друзей вконтакте</a>, лайков, опросов, рассказать друзьям и многое другое</li>
        <li><a href="/raskrutka-prodvizhenie-twitter.php">Раскрутка и продвижение в Twitter</a></li>
        <li>Увеличение живых читателей, фолловеров и ретвитов в Twitter от 1000 шт.</li>
        <li><a href="/raskrutka-prodvizhenie-facebook.php">Раскрутка и продвижение в Facebook</a></li>
        <li>Увеличение лайков, друзей, подписчиков в Facebook</li>
        <li>Продвижение групп в Одноклассниках</li>
        <li>Пиар Instagram</li>
    </ul>

{% endblock %}