{% set title = 'Накрутка лайков и комментариев на Youtube' %}
{% set keywords = 'накрутка, лайк, Youtube, Ютуб, комментарий, услуги, заказ, заказать' %}
{% set description = 'Качественная накрутка лайков и комментариев на Youtube.' %}
{% set a1 = 'current-menu-item' %}
{% set s1 = 'border-header' %}
{% extends 'layout/base.html.twig' %}
{% block content %}
    <h1>Накрутка лайков и комментариев на Youtube</h1>
    <p><strong>Накрутка лайков и комментариев на Youtube</strong> - способствуют созданию положительной репутации ролика, а так же
        помогают поднять рейтинг видео. Отзывы и лайкив в Youtube позволяют пользователям отмечать информацию,
        которая им пришлась по вкусу. Хотите увидеть под своим клипом сотни сердечек и положительных мнений?
        Тогда делайте свой заказ. Наши возможности позволяют накручивать до 500 лайков и 300 комментариев в день!
        Тексты отзывов вы можете составить сами.</p>

    <table width="100%">
        <tr></tr>
        <tr>
            <td><img src="/public/img/yoytube_like.png"</td>
            <td><img src="/public/img/yoytube_like.png"</td>
            <td><img src="/public/img/yoytube_like.png"</td>
            <td><img src="/public/img/yoytube_like.png"</td>
        </tr>
        <tr>
            <td>100 лайков</td>
            <td>300 лайков</td>
            <td>1000 лайков</td>
            <td>5000 лайков</td>
        </tr>
        <tr>
            <td>200 руб. / 6.5$</td>
            <td>500 руб. / 16$</td>
            <td>1500 руб. / 48$</td>
            <td>6000 руб. / 190$</td>
        </tr>
        <tr>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
        </tr>
    </table>

    <table width="100%">
        <tr></tr>
        <tr>
            <td><img src="/public/img/youtube_kommentarii.png"</td>
            <td><img src="/public/img/youtube_kommentarii.png"</td>
            <td><img src="/public/img/youtube_kommentarii.png"</td>
            <td><img src="/public/img/youtube_kommentarii.png"</td>
        </tr>
        <tr>
            <td>100 комментариев</td>
            <td>300 комментариев</td>
            <td>500 комментариев</td>
            <td>1000 комментариев</td>
        </tr>
        <tr>
            <td>400 руб. / 12,5$</td>
            <td>1000 руб. / 32$</td>
            <td>1700 руб./ 54$</td>
            <td>3200 руб./ 102$</td>
        </tr>
        <tr>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
        </tr>
    </table>

    <h2>Чем полезна данная услуга?</h2>
    <p>Наш сервис стимулирует реальных людей кликать "мне нравится" и оставлять комментарии с желаемым текстом .
        Счетчики увеличиваются, а рядовому пользователю Ютуб горазда проще согласиться с мнением большинства.
        По мимо создания положительной репутации, видео улучшает свои позиции в поиске, чартах, а так же
        успешнее ранжируются в разделе "похожие видео". Знайте, <em>накрутка лайков и комментариев Youtube</em> - это
        отличный инструмент активного пиара и манипулирования общественным сознанием.</p>

      <h3>Преимущества накрутки лайков и комментариев у нас</h3>
    <p>Основные плюсы работы с нами:</p>
    <p style="text-align:justify"><img width="189" vspace="2" hspace="50" height="102" align="right" title="Накрутка лайков и комментариев на Youtube" alt="Накрутка, лайк, комментарий, Youtube, Ютуб" src="/public/img/nakrutka-lajkov-youtube.jpg">
    <ul class="short arrow">
        <li>Самые низкие цены. 1 лайк/комментарий от 1.2 руб.</li>
        <li>Клики на кнопку "мне нравится" и отзывы оставляют реальные люди</li>
        <li>Высокая скорость накрутки</li>
        <li>Тексты отзывов вы можете составить сами</li>
        <li>Гарантия анонимности. Ни кто не узнает о накрутке.</li>
        <li>Предлагаем комплексную <a href="/raskrutka-kanala-video-na-youtube.php">раскрутку канала и видео на Youtube</a></li>
        <li><a href="/nakrutka-prosmotrov-na-youtube.html">Накрутка просмотров на Youtube</a>, вывод ролика в ТОП</li>
        <li>Гарантия от каких-либо санкций со стороны Youtube</li>
        <li>Персональный аттестат в системе WebMoney</li>
    </ul>

    <h3>Как оформить заказ?</h3>
    <p>Минимальный заказ - 100 лайков или 100 комментариев. Вверху страницы выберите желаемый объем накрутки.
        Внимательно прочтите правила оформления заявки. От вас требуется ссылка на видео и тексты комментарий.
        Мы так же принимаем в работу комплексные заказы. К примеру, 25.000 просмотров + 200 лайков + 100 комментариев +250
        подписчиков. Объем выбираете вы сами! Есть вопросы? Пишите нам.</p>
{% endblock %}