{% set title = 'Накрутка сердечек, лайков вконтакте' %}
{% set keywords = 'накрутка, сердечек, лайк, вконтакте, в контакте, мне нравится, услуги, заказ, заказать' %}
{% set description = 'Быстрая накрутка сердечек и лайков вконтакте от агенства SocPR' %}
{% set a2 = 'current-menu-item' %}
{% set s1 = 'border-header' %}
{% extends 'layout/base.html.twig' %}
{% block content %}
    <h1>Накрутка сердечек, лайков вконтакте</h1>
    <p> <strong>Накрутка сердечек, лайков вконтакте</strong> от агенства SocPR - это отличная возможность
        сделать свой пост популярным в самой большой социальной сети России. Сердечко, лайк, мне нравится -
        это кнопка с счетчиком под любой фотографией, постом, роликом в соцсети. Сделана она для того,
        чтобы пользователи могли отмечать информацию, которая им понравилась. Хотите чтобы вашу запись,
        видео, фото оценили по достоинству тысячи реальных людей? Тогда услуга накрутки сердечек и лайков
        придется как нельзя кстати!</p>

    <table width="100%">
        <tr></tr>
        <tr>
            <td><img src="/public/img/vk_like.png"</td>
            <td><img src="/public/img/vk_like.png"</td>
            <td><img src="/public/img/vk_like.png"</td>
            <td><img src="/public/img/vk_like.png"</td>
        </tr>
        <tr>
            <td>500 лайков</td>
            <td>1000 лайков</td>
            <td>2500 лайков</td>
            <td>5000 лайков</td>
        </tr>
        <tr>
            <td>500 руб. / 16$</td>
            <td>800 руб. / 26$</td>
            <td>1800 руб. / 57$</td>
            <td>3400 руб. / 108$</td>
        </tr>
        <tr>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
        </tr>
    </table>

    <table width="100%">
        <tr></tr>
        <tr>
            <td><img src="/public/img/vk_like.png"</td>
            <td><img src="/public/img/vk_like.png"</td>
            <td><img src="/public/img/vk_like.png"</td>
        </tr>
        <tr>
            <td>10000 лайков</td>
            <td>25000 лайков</td>
            <td>50000 лайков</td>
        </tr>
        <tr>
            <td>6500 руб. / 208$</td>
            <td>15000 руб. / 480$</td>
            <td>28000 руб./ 897$</td>
        </tr>
        <tr>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
            <td><a href="#">Заказать</a></td>
        </tr>
    </table>

    <h2>Для чего нужна накрутка сердечек и лайков вконтакте?</h2>
    <p> Живые люди проявляют интерес к информации опубликованной вами и ставят свои лайки. Счетчик сердечек
        увеличивается. А рядовому пользователю вконтакте гораздо проще присоединиться к мнению тысячи людей.
        Если ваше сообщение, видео, фото действительно вызывают интерес, то количество репостов, после накрутки
        сердечек вконтакте будет увеличиваться лавинообразно. Помните, <em>накрутка сердечек вконтакте</em> - это,
        прежде всего, эффективный инструмент ведения бизнеса и активного пиара. Так же вам будет полезна услуга
        <a href="/nakrutka-rasskazat-druzjam-vkontakte.php">накрутки рассказать друзьям вконтакте</a>.</p>

    <h3>Преимущества накрутки сердечек вконтакте от агенства SocPR</h3>

    <p>Основные преимущества работы с нашим агенством:</p>
    <p style="text-align:justify"><img width="200" vspace="2" hspace="50" height="169" align="right" title="Накрутка сердечек вконтакте" alt="Накрутка, сердечек, лайк, вконтакте, vkontakte" src="/public/img/nakrutka-serdechek-lajkov-vkontakte.jpg">

    <ul class="short arrow">
        <li>Лайки проставляют реальные пользователи вконтакте, а не боты</li>
        <li>Быстрое и удобное оформление заказа</li>
        <li>Высокая скорость накрутки лайков, сердечек</li>
        <li>Качественная <a href="/raskrutka-grupp-vkontakte.php">расскрутка групп вконтакте</a> в комплексе</li>
        <li>Легальная <a href="/nakrutka-podpischikov-vkontakte.php">накрутка подписчиков вконтакте</a></li>
        <li>Гарантия анонимности заказчика</li>
        <li>Гарантия от бана и блокировки</li>
        <li>Персональный аттестат в системе WebMoney</li>
    </ul>

    <h3>Как мне сделать заказ на накрутку лайков вконтакте?</h3>
    <p>Минимальный заказ - 500 лайков / сердечек. Скорость накрутки - 3000 лайков в сутки. Вверху страницы
        выберите подходящий тариф и перейдите по ссылке (картинке). Ознакомьтесь с правилами оформления заявки.
        От вас потребуется всего лишь ссылка на ваш пост, оплата и пару часов терпения. После оформления заказа,
        уже в первые часы, лайки начнут активно проставляться реальными пользователями под вашим постом. У вас
        есть вопросы? Свяжитесь с нами любым удобным для вас способом. Мы работаем круглосуточно</p>
{% endblock %}