<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>eugensite - Buy Google + 1&#039;s, Facebook Likes &amp; Twitters Followers</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/css/prettyPhoto.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/css/tipsy.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/css/custom.css" type="text/css" media="screen"/>

    <link rel='stylesheet' id='wpsc-theme-css-css' href='/public/css/wpsc-default.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wpsc-theme-css-compatibility-css' href='/public/css/compatibility.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wp-e-commerce-dynamic-css' href='/public/css/index.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wp-ecommerce-style-css' href='/public/css/wp-ecommerce.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='niov-slider-css' href='/public/css/nivo-slider.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='jquery-jCarousel-css' href='/public/css/jCarousel.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='contact-form-7-css' href='/public/css/styles.css' type='text/css' media='all'/>
    <script type='text/javascript' src='/public/js/jquery.js'></script>
    <script type='text/javascript' src='/public/js/wp-e-commerce.js'></script>
    <script type='text/javascript' src='/public/js/jquery.infieldlabel.min.js'></script>
    <script type='text/javascript' src='/public/js/ajax.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpsc_ajax = {"ajaxurl":"\/admin-ajax.php"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/public/js/index.js'></script>
    <script type='text/javascript' src='/public/js/jquery.livequery.js'></script>
    <script type='text/javascript' src='/public/js/user.js'></script>
    <script type='text/javascript' src='/public/js/jquery.cycle.all.min.js'></script>
    <script type='text/javascript' src='/public/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='/public/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='/public/js/jquery.tipsy.js'></script>
    <script type='text/javascript' src='/public/js/jquery.hrzAccordion.js'></script>
    <script type='text/javascript' src='/public/js/jquery.tweetable.js'></script>
    <script type='text/javascript' src='/public/js/jquery.jcarousel.min.js'></script>
    <script type='text/javascript' src='/public/js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='/public/js/swfobject.js'></script>
    <script type='text/javascript' src='/public/js/cufon-yui.js'></script>
    <script type='text/javascript' src='/public/js/delicious.font.js'></script>
    <script type='text/javascript' src='/public/js/comment-reply.js'></script>
    <link rel='prev' title='Checkout' href='/checkout/'/>
    <link rel='next' title='Contact Us' href='/contact-us/'/>

    <!-- All in One SEO Pack 1.6.14.6 by Michael Torbert of Semper Fi Web Design[268,312] -->
    <meta name="description" content="Get social proof to your pages - Buy Facebook fans, Google plus ones, Twitter followers &amp; more. eugensite - Social Media marketing experts"/>
    <meta name="keywords" content="eugensite, social marketing, social media marketing"/>
    <!-- /all in one seo pack -->

    <style type='text/css'>
        #wpadminbar .quicklinks li#wp-admin-bar-clickystats {
            height: 28px
        }

        #wpadminbar .quicklinks li#wp-admin-bar-clickystats a {
            height: 28px;
            padding: 0
        }

        #wpadminbar .quicklinks li#wp-admin-bar-clickystats a img {
            padding: 4px 5px;
            height: 20px;
            width: 99px;
        }
    </style>
    <!--[if IE]>
    <link rel="stylesheet" href="/public/css/ie.css" type="text/css" media="screen, projection"/>
    <![endif]--><!--[if IE 7]>
    <link rel="stylesheet" href="/public/css/ie7.css" type="text/css" media="screen"/>
    <![endif]-->

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico"/>

    <script type="text/javascript">

        Cufon.replace('h1:not(.no-cufon)', {fontFamily:'delicious', fontSize:'37px'});
        Cufon.replace('h2:not(.no-cufon)', {fontFamily:'delicious', fontSize:'33px'});
        Cufon.replace('h3:not(.no-cufon)', {fontFamily:'delicious', fontSize:'29px'});
        Cufon.replace('h4:not(.no-cufon)', {fontFamily:'delicious', fontSize:'25px'});
        Cufon.replace('h5:not(.no-cufon)', {fontFamily:'delicious', fontSize:'21px'});
        Cufon.replace('h6:not(.no-cufon)', {fontFamily:'delicious', fontSize:'19px'});

        Cufon.replace('.sidebar-small-size h3, .sidebar-small-size h2', {fontFamily:'delicious', fontSize:'21px'});
        Cufon.replace('.name-testimonial span.title', {fontFamily:'delicious', fontSize:'18px'});
        Cufon.replace('.call-to-action .incipit h2', {fontFamily:'delicious', fontSize:'48px'});
        Cufon.replace('.call-to-action .incipit p', {fontFamily:'delicious', fontSize:'20px'});
        Cufon.replace('#content .contact-form label .label', {fontFamily:'delicious', fontSize:'24px'});
        Cufon.replace('#content .contact-form label .sublabel', {fontFamily:'delicious', fontSize:'18px'});

        Cufon.replace('#nav ul.level-1 > li > a', {fontFamily:'delicious', hover:true, fontSize:'18px'});
        Cufon.replace('.name-testimonial span.website', {fontFamily:'delicious', hover:true, fontSize:'18px'});
        Cufon.replace('#portfolio li h3 a', {fontFamily:'delicious', hover:true});

        Cufon.replace('#footer h2', {fontFamily:'delicious', textShadow:'0 2px 0 rgba(255,255,255,0.42)'});

        Cufon.replace('#topbar a:not(.access-info-box *)', {fontFamily:'delicious', textShadow:'0 2px 2px #dcdbdb', fontSize:'16px', hover:true});

        Cufon.replace('.p404 strong', {fontFamily:'delicious', fontSize:'100%'});

        Cufon.replace('.sidebar .featured-projects-widget p.categories', {fontFamily:'delicious', fontSize:'20px'});
        Cufon.replace('.sidebar .featured-projects-widget p.categories a', {fontFamily:'delicious', fontSize:'20px'});


    </script>
</head>

<body class="home page page-id-8 page-template page-template-home-store-php no_js topbar-fixed font_delicious ">


<!-- START TOPBAR -->
<div id="topbar">

    <!-- top bar code (checkout & cart widget code) goes here -->

</div>
<!-- END TOPBAR -->

<!-- START HEADER -->
<div id="header">

    <div class="inner">


        <div class="clear "></div>

        <!-- START LOGO -->
        <div id="logo">
            <a href="" title="eugensite &#8211; Get Social!">eugensite &#8211; Get
                Social!</a>
        </div>
        <!-- END LOGO -->

        <!-- START NAVIGATION -->
        <div id="nav" class="menu-navigation-container">
            <ul id="menu-navigation" class="level-1">
                <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-8 current_page_item">
                    <a href="/">Home</a></li>
                <li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Buy Facebook Likes" href="/buy-facebook-likes/">Facebook Likes</a>
                </li>
                <li id="menu-item-375" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Buy Google Plus Ones" href="/buy-google-plus-ones/">Google +1&#8242;s</a>
                </li>
                <li id="menu-item-374" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a title="Buy Twitter Followers" href="/buy-twitter-followers/">Twitter
                        Followers</a></li>
            </ul>
        </div>
        <!-- END NAVIGATION -->

        <div class="clear space"></div>


        <!-- START SLIDER -->
        <div id="slider">

            <div class="images">
                <!-- START PANEL -->
                <div class="panel first">

                    <div class="featured-image">
                        <img src="/public/img/cart-products.png" alt="eugensite - Get Social [Become Socially Engaged ]"/>
                    </div>

                    <div class="hentry">
                        <h2>eugensite - Get Social </h2>                            <h4>Become Socially
                        Engaged </h4>

                        <p>Get social proof to your pages with our 100% satisfaction guaranteed services; Buy Facebook
                            Likes, Buy Google plus Ones & Twitter Followers. Take a tour in our vast social services -
                            The Best Quality, The cheapest Prices! eugensite </p>
                    </div>
                </div>
                <!-- END PANEL --><!-- START PANEL -->
                <div class="panel">

                    <div class="featured-image">
                        <img src="/public/img/sg.png" alt="Best customer Support! [100% Satisfaction Guaranteed!]"/>
                    </div>

                    <div class="hentry">
                        <h2>Best customer Support! </h2>                            <h4>100% Satisfaction
                        Guaranteed!</h4>

                        <p>We are here 24/7 for any question/reply about our services! Because when you buy our
                            excellent service, you buy also our excellent customer support, that will answer you for
                            every question you may have, mostly within 24 hours! </p>
                    </div>
                </div>
                <!-- END PANEL --><!-- START PANEL -->
                <div class="panel">

                    <div class="featured-image">
                        <img src="/public/img/wb-ss.png" alt="Our New Website [Smarter, Faster]"/>
                    </div>

                    <div class="hentry">
                        <h2>Our New Website </h2>                            <h4>Smarter, Faster</h4>

                        <p>For all our new & existing customers, this is our new website platform! The advanced and
                            innovative technology allows us to receive and handle orders faster than ever before! </p>
                    </div>
                </div>
                <!-- END PANEL -->
            </div>

            <!-- START PAGINATION -->
            <div class="controls">
                <a href="#" title="Pause" id="slider-pause"><img src="/public/img/slider-pause.png" alt="Pause"/></a>
                <a href="#" title="Play" id="slider-play"><img src="/public/img/slider-play.png" alt="Play"/></a>
            </div>
            <div class="pagination"></div>
            <!-- END PAGINATION -->


            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    if ($('#slider .images .panel').length != 0) {
                        $('#slider .images').cycle({
                            fx:'scrollUp',
                            speed:1500,
                            timeout:6500,
                            pager:'.pagination',
                            cleartype:true
                        });

                        $('#slider-pause').show();

                        $('#slider-pause').click(function () {
                            $('#slider .images').cycle('pause');
                            $(this).hide();
                            $('#slider-play').show();
                            return false;
                        });

                        $('#slider-play').click(function () {
                            $('#slider .images').cycle('resume');
                            $(this).hide();
                            $('#slider-pause').show();
                            return false;
                        });
                    }
                });
            </script>

        </div>

        <!-- END SLIDER -->


    </div>


</div>
<!-- END HEADER -->

<div class="clear "></div>


<!-- START CONTENT -->
<div id="content">

<div class="inner wpsc layout-sidebar-left post-8">


<div class="clear space"></div>


<!-- START HENTRY -->
<div class="hentry">


<div id='products_page_container' class="wrap wpsc_container products">


<ul class="list-products default_product_display product_view_8 all-categories group">


<li class="productsdisplay default_product_display product_view_272 all-categories">
    <div class="product-image">
        <a rel="1,000 Facebook Likes" class="preview_link" href="/home/facebook-likes/1000-facebook-likes/">
            <img class="product_image" id="product_image_272" alt="1,000 Facebook Likes" title="1,000 Facebook Likes" src="/public/img/facebook_ww.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/1000-facebook-likes/">1,000
            Facebook Likes</a>
    </p>


    <div class="price">
        $34<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/1000-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_286 all-categories">
    <div class="product-image">
        <a rel="3,000 Facebook Likes" class="preview_link" href="/home/facebook-likes/3000-facebook-likes/">
            <img class="product_image" id="product_image_286" alt="3,000 Facebook Likes" title="3,000 Facebook Likes" src="/public/img/facebook_ww.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/3000-facebook-likes/">3,000
            Facebook Likes</a>
    </p>


    <div class="price">
        $79<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/3000-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_288 all-categories">
    <div class="product-image">
        <a rel="5,000 Facebook Likes" class="preview_link" href="/home/facebook-likes/5000-facebook-likes/">
            <img class="product_image" id="product_image_288" alt="5,000 Facebook Likes" title="5,000 Facebook Likes" src="/public/img/facebook_ww.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/5000-facebook-likes/">5,000
            Facebook Likes</a>
    </p>


    <div class="price">
        $129<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/5000-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_333 all-categories last">
    <div class="product-image">
        <a rel="250 Google Votes" class="preview_link" href="/home/google-plus-ones/250-google-votes/">
            <img class="product_image" id="product_image_333" alt="250 Google Votes" title="250 Google Votes" src="/public/img/google+1.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/google-plus-ones/250-google-votes/">250 Google
            Votes</a>
    </p>


    <div class="price">
        $24<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/google-plus-ones/250-google-votes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>

<li style="display:block;height:0;with:100%;clear:both;visibility:hidden;margin:0;"></li>


<li class="productsdisplay default_product_display product_view_380 all-categories">
    <div class="product-image">
        <a rel="5,000 Twitter Followers" class="preview_link" href="/home/twitter-followers/5000-twitter-followers/">
            <img class="product_image" id="product_image_380" alt="5,000 Twitter Followers" title="5,000 Twitter Followers" src="/public/img/twitter.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/twitter-followers/5000-twitter-followers/">5,000
            Twitter Followers</a>
    </p>


    <div class="price">
        $59<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/twitter-followers/5000-twitter-followers/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_381 all-categories">
    <div class="product-image">
        <a rel="10,000 Twitter Followers" class="preview_link" href="/home/twitter-followers/10000-twitter-followers/">
            <img class="product_image" id="product_image_381" alt="10,000 Twitter Followers" title="10,000 Twitter Followers" src="/public/img/twitter.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/twitter-followers/10000-twitter-followers/">10,000
            Twitter Followers</a>
    </p>


    <div class="price">
        $99<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/twitter-followers/10000-twitter-followers/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_388 all-categories">
    <div class="product-image">
        <a rel="500 Google Votes" class="preview_link" href="/home/google-plus-ones/500-google-votes/">
            <img class="product_image" id="product_image_388" alt="500 Google Votes" title="500 Google Votes" src="/public/img/google+1.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/google-plus-ones/500-google-votes/">500 Google
            Votes</a>
    </p>


    <div class="price">
        $44<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/google-plus-ones/500-google-votes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_389 all-categories last">
    <div class="product-image">
        <a rel="1,000 Google Votes" class="preview_link" href="/home/google-plus-ones/1000-google-votes/">
            <img class="product_image" id="product_image_389" alt="1,000 Google Votes" title="1,000 Google Votes" src="/public/img/google+1.png"/>
        </a>


        <div class="sale-icon-small">Sale!</div>

    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/google-plus-ones/1000-google-votes/">1,000
            Google Votes</a>
    </p>


    <div class="price">
        $79<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/google-plus-ones/1000-google-votes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>

<li style="display:block;height:0;with:100%;clear:both;visibility:hidden;margin:0;"></li>


<li class="productsdisplay default_product_display product_view_428 all-categories">
    <div class="product-image">
        <a rel="10,000 Facebook Likes" class="preview_link" href="/home/facebook-likes/10000-facebook-likes/">
            <img class="product_image" id="product_image_428" alt="10,000 Facebook Likes" title="10,000 Facebook Likes" src="/public/img/facebook_ww.png"/>
        </a>


        <div class="sale-icon-small">Sale!</div>

    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/10000-facebook-likes/">10,000
            Facebook Likes</a>
    </p>


    <div class="price">
        $199<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/10000-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_429 all-categories">
    <div class="product-image">
        <a rel="25,000 Facebook Likes" class="preview_link" href="/home/facebook-likes/25000-facebook-likes/">
            <img class="product_image" id="product_image_429" alt="25,000 Facebook Likes" title="25,000 Facebook Likes" src="/public/img/facebook_ww.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/25000-facebook-likes/">25,000
            Facebook Likes</a>
    </p>


    <div class="price">
        $389<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/25000-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_432 all-categories">
    <div class="product-image">
        <a rel="5,000 USA Facebook Likes" class="preview_link" href="/home/facebook-likes/5000-usa-facebook-likes/">
            <img class="product_image" id="product_image_432" alt="5,000 USA Facebook Likes" title="5,000 USA Facebook Likes" src="/public/img/facebook_usa.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/5000-usa-facebook-likes/">5,000
            USA Facebook Likes</a>
    </p>


    <div class="price">
        $249<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/5000-usa-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>


<li class="productsdisplay default_product_display product_view_857 all-categories last">
    <div class="product-image">
        <a rel="1,000 USA Facebook Likes" class="preview_link" href="/home/facebook-likes/1000-usa-facebook-likes/">
            <img class="product_image" id="product_image_857" alt="1,000 USA Facebook Likes" title="1,000 USA Facebook Likes" src="/public/img/facebook_usa.png"/>
        </a>


    </div>
    <div class="thumb-shadow">&nbsp;</div>


    <p class="title-product">

        <a class="wpsc_product_title" href="/home/facebook-likes/1000-usa-facebook-likes/">1,000
            USA Facebook Likes</a>
    </p>


    <div class="price">
        $54<sup>90</sup></div>

    <a class="more-button more-button-ltr" href="/home/facebook-likes/1000-usa-facebook-likes/" title="More details">More
        details <span class="icon arrow">&nbsp;</span></a>
</li>

<li style="display:block;height:0;with:100%;clear:both;visibility:hidden;margin:0;"></li>
</ul>


<div id='fancy_notification'>

    <div id='loading_animation'>

        <img id="fancy_notificationimage" title="Loading" alt="Loading" src="/public/img/indicator.gif"/>Updating&#8230;

    </div>

    <div id='fancy_notification_content'>

    </div>

</div>

<div class="clear "></div>

<div class="wpsc_page_numbers_bottom general-pagination">
    Pages: <span class='current'>1</span>
    <a href="/page/2" rel="next" title="Page 2">2</a><a href="/page/2" rel="next" title="Next Page">Next
    &gt;</a></div>
<!--close wpsc_page_numbers_bottom-->


</div>

</div>
<!-- END HENTRY -->

<!-- START SIDEBAR -->


<!-- START SIDEBAR -->
<div class="sidebar sidebar-big-size">


    <div id="nav_menu-2" class="widget-1 widget-first widget widget_nav_menu"><h3>categories</h3>

        <div class="menu-sidebar-left-container">
            <ul id="menu-sidebar-left" class="menu">
                <li id="menu-item-278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278">
                    <a title="Buy Facebook Likes" href="/buy-facebook-likes/">Facebook Likes</a>
                </li>
                <li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354">
                    <a title="Buy Google Plus Ones" href="/buy-google-plus-ones/">Google + 1&#8242;s</a>
                </li>
                <li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373">
                    <a title="Buy Twitter Followers" href="/buy-twitter-followers/">Twitter
                        Followers</a></li>
                <li id="menu-item-987" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-987">
                    <a href="/category/blog/">Blog</a></li>
            </ul>
        </div>
    </div>
    <div id="text-5" class="widget-2 widget-last widget widget_text">
        <div class="textwidget">
            <img src="/public/img/sg.png" alt="100% Satisfaction Guarantee!" width="180" height="280"/>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <img src="/public/img/paypalImg.png" alt="Payment Getaway" width="170" height="136"/>
        </div>
    </div>


</div>
<!-- END SIDEBAR -->


<!-- END SIDEBAR -->

<div class="clear "></div>

<!-- START EXTRA CONTENT -->

<div class="extra-content">
    <div class="clear border"></div>

    <div class="box-sections">
        <img src="/public/img/statistics32.png" alt="Highest Quality" class="icon"/>

        <h2>Highest Quality</h2> We are providing nothing but the best! We are truly believe in our services and do our
        best to provide the finest service we can! For a long time.
    </div>


    <div class="box-sections">
        <img src="/public/img/card-grey.png" alt="Clients" class="icon"/>

        <h2>Clients</h2>

        <p>"I Ordered 3,000 Facebook likes, and was surprised to be delivered in less than 12 hours! Also, I was
            over-delivered! Definitely will order again..." - Mike Palmer.</p>
    </div>


    <div class="box-sections last">
        <img src="/public/img/users-grey.png" alt="Support" class="icon"/>

        <h2>Support</h2>

        <p>We are here to answer any question you may have regarding our services, or about the delivery of your order.
            <a href="/contact-us/">Contact Us!</a>.</p>
    </div>
</div>

<div class="clear space"></div>


<!-- END EXTRA CONTENT -->

<div class="clear "></div>

</div>

<div class="clear space"></div>
</div>
<!-- END CONTENT -->

<div id="footer-centered">

    <div class="inner">


        <!-- START NAVIGATION -->
        <div class="menu-footer-container">
            <ul id="footer-nav" class="menu">
                <li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319">
                    <a href="/privacy-policy/">Privacy Policy</a></li>
                <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
                    <a href="/terms-conditions/">Terms &#038; Conditions</a></li>
                <li id="menu-item-937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-937">
                    <a href="/sitemap/">Sitemap</a></li>
                <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320">
                    <a href="/contact-us/">Contact Us</a></li>
            </ul>
        </div>
        <!-- END NAVIGATION -->

        <p>Copyright 2012 | <strong>eugensite</strong> - Get Social!
            <img src="/public/img/paypalIcons.png" width="250" height="20" alt="PayPal Icons" style="position:relative; right:-20px;"/>
        </p>


    </div>

</div>
<script type='text/javascript'>
    /* <![CDATA[ */
    var objectL10n = {"wait":"wait..."};
    /* ]]> */
</script>
<script type='text/javascript' src='/public/js/contact.js'></script>
<script type='text/javascript' src='/public/js/jquery.ui.core.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.ui.widget.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.ui.tabs.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var objectL10n = {"wait":"wait...", "emailerror":"The field name and email are required", "requireerror":"This field is required"};
    /* ]]> */
</script>
<script type='text/javascript' src='/public/js/jquery.custom.js'></script>
<script type='text/javascript' src='/public/js/jquery.form.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {"loaderUrl":"\/public\/img\/ajax-loader.gif", "sending":"Sending ..."};
    /* ]]> */
</script>
<script type='text/javascript' src='/public/js/scripts.js'></script>

<script type="text/javascript">
    //<![CDATA[
    Cufon.now();  //]]>
</script>

</body>

</html>